
<div class="card-img-top"> 
  <form #personaform="ngForm" appnoautocomplete="" autocomplete="off" (keydown.enter)="$event.preventDefault()">
    <input class="form-control" type="hidden" name="_id" id="_id" #_id="ngModel" [(ngModel)]="personService.selectperson._id"/>
    <label id="title">{{title}}</label>
    <div class="card">
      <div class="card-body">
        <div class="card-text">
          <div class="row content">
            <div id="labelMaterial"> 
              <div class="group">
                <input class="imp" type="text" required="required" name="username" id="username" #username="ngModel" [(ngModel)]="personService.selectperson.username"/>
                <label class="lbl">Username </label>
              </div>
            </div>
            <div id="labelMaterial"> 
              <div class="group">
                <input class="imp" type="email" required="required" id="email" name="email" #email="ngModel" [(ngModel)]="personService.selectperson.email"/>
                <label class="lbl">Email  </label>
              </div>
            </div>
            <div id="labelMaterial"> 
              <div class="group">
                <input class="imp" type="text" required="required" id="first_name" name="first_name" #first_name="ngModel" [(ngModel)]="personService.selectperson.first_name"/>
                <label class="lbl">First name  </label>
              </div>
            </div>
            <div id="labelMaterial"> 
              <div class="group">
                <input class="imp" type="text" required="required" id="second_name" name="second_name" #second_name="ngModel" [(ngModel)]="personService.selectperson.second_name"/>
                <label class="lbl">Second name  </label>
              </div>
            </div>
            <div id="labelMaterial"> 
              <div class="group">
                <input class="imp" type="text" required="required" id="first_lastname" name="first_lastname" #first_lastname="ngModel" [(ngModel)]="personService.selectperson.first_lastname"/>
                <label class="lbl">First lastname  </label>
              </div>
            </div>
            <div id="labelMaterial"> 
              <div class="group">
                <input class="imp" type="text" required="required" id="second_lastname" name="second_lastname" #second_lastname="ngModel" [(ngModel)]="personService.selectperson.second_lastname"/>
                <label class="lbl">Second lastname  </label>
              </div>
            </div>
            <div id="labelMaterial" *ngIf="passwordInputVisible"> 
              <div class="group">
                <input class="imp" type="password" required="required" id="password" name="password" #password="ngModel" [(ngModel)]="personService.selectperson.password"/>
                <label class="lbl">Password  </label>
              </div>
            </div>
            <div id="labelMaterial" *ngIf="passwordInputVisible"> 
              <div class="group">
                <input class="imp" type="password" required="required" id="repassword" name="repassword"/>
                <label class="lbl">Repit password  </label>
              </div>
            </div>
            <div id="labelMaterial"> 
              <div class="group">
                <input class="imp" type="text" required="required" id="country" name="country" #country="ngModel" [(ngModel)]="personService.selectperson.country"/>
                <label class="lbl">Country  </label>
              </div>
            </div>
            <div id="labelMaterial"> 
              <div class="group">
                <input class="imp" type="tel" required="required" id="celphone" name="celphone" #celphone="ngModel" [(ngModel)]="personService.selectperson.celphone"/>
                <label class="lbl">Celphone  </label>
              </div>
            </div>
            <div id="labelMaterial"> 
              <div class="group">
                <input class="imp" type="number" required="required" id="Rate_by_hour" name="Rate_by_hour" #Rate_by_hour="ngModel" [(ngModel)]="personService.selectperson.Rate_by_hour"/>
                <label class="lbl">Rate by hour  </label>
              </div>
            </div>
            <div id="labelMaterial"> 
              <div class="group">
                <input class="imp" type="number" required="required" id="Rate_by_mount" name="Rate_by_mount" #Rate_by_mount="ngModel" [(ngModel)]="personService.selectperson.Rate_by_mount"/>
                <label class="lbl">Rate by mount  </label>
              </div>
            </div>
            <div id="labelMaterial"> 
              <div class="group">
                <input class="imp" type="number" required="required" id="idRol" name="idRol" #idRol="ngModel" [(ngModel)]="personService.selectperson.idRol"/>
                <label class="lbl">Id rol  </label>
              </div>
            </div>
            <div id="labelMaterial"> 
              <div class="group">
                <input class="imp" type="text" required="required" id="github" name="github" #github="ngModel" [(ngModel)]="personService.selectperson.github"/>
                <label class="lbl">Github  </label>
              </div>
            </div>
            <div id="labelMaterial"> 
              <div class="group">
                <input class="imp" type="text" required="required" id="bitbucket" name="bitbucket" #bitbucket="ngModel" [(ngModel)]="personService.selectperson.bitbucket"/>
                <label class="lbl">Bitbucket  </label>
              </div>
            </div>
            <div id="labelMaterial"> 
              <div class="group">
                <input class="imp" type="text" required="required" id="linkedin" name="linkedin" #linkedin="ngModel" [(ngModel)]="personService.selectperson.linkedin"/>
                <label class="lbl">Linkedin  </label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div id="btndiv">
            <button class="btn btn-outline-light btn-lg" *ngIf="singup" (click)="returnpage()">Return</button>
            <button class="btn btn-outline-light btn-lg" (click)="resetForm(personaform)">Clean   </button>
            <button class="btn btn-outline-light btn-lg" (click)="addperson(personaform)">Save </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>