
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div class="container-fluid text-center">   
  <div class="row content">
    <div class="col-sm-5 text-left"> 
      <app-usercreator (getUser)="this.getperson()">      </app-usercreator>
    </div>
    <div class="col-sm-4 sidenav">
      <label id="title">Persons</label>
      <div id="getPersonView">
        <div class="card" *ngFor="let person of personService.person">
          <div class="card-header">
            <p class="card-text usertitle">{{person.first_name}} {{person.second_name}} {{person.first_lastname}} {{person.second_lastname}}.                   </p>
          </div>
          <div class="card-body">
            <p class="card-text">
              <label>Email: 
                <p>{{person.email}}</p>
              </label>
              <label>Rate by hour: 
                <p>{{person.Rate_by_hour}}. </p>
              </label>
              <label>Rate by mount: 
                <p>{{person.Rate_by_mount}}.   </p>
              </label>
              <label>Celphone: 
                <p>{{person.celphone}}.  </p>
              </label>
              <label>Country: 
                <p>{{person.country}}.</p>
              </label>
              <label>Github:   
                <p>{{person.github}}. </p>
              </label>
              <label>Linkedin: 
                <p>{{person.linkedin}}. </p>
              </label>
              <label>Bitbucket:    
                <p>{{person.bitbucket}}. </p>
              </label>
            </p><a (click)="editperson(person)"><i class="glyphicon glyphicon-pencil"></i></a><a (click)="deleteperson(person._id, personaform)"><i class="glyphicon glyphicon-trash">   </i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2 sidenav">
      <label id="title">History</label>
      <div id="notifiView">
        <div class="card dropdown-toggle notifi" style="width:200px" *ngFor="let not of notificacion">
          <div class="card-body bg-primary">
            <h3 class="card-title">{{not.titulo}}</h3>
            <p class="card-text">{{not.mensaje}}</p>
            <p class="card-text">{{not.hora}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function pulsar(e) { 
    tecla = (document.all) ? e.keyCode :e.which; 
    return (tecla!=13); 
    
</script>