body, html 
    height: 100%;
    margin: 0;
#content
    font-family: 'Muli', sans-serif;
    z-index: 9999; 
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 0; 
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    background-image: url('./media/Back1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
#glassStyle
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.7);
img
    height: 100%;

#leftmen
    background-color: #F8F8F8;
    margin-top: -1.3%;
    opacity: 0.5;
    width: 5%;

#rightmen
    background-color: #F8F8F8;
    margin-top: -1.3%;
    opacity: 0.5;
    width: 20%;
#data
    width: 100%
    height: 500px
    background:rgba(0,0,0,0) !important
#menuitem
    font-size: xx-large;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;            