
<div class="container-fluid text-center">   
  <div class="row content">
    <div class="col-sm-8 sidenav">
      <form #vitaform="ngForm" appnoautocomplete="" autocomplete="off" (keydown.enter)="$event.preventDefault()">
        <table class="table table-sm table-light" id="formtable">
          <tbody></tbody>
          <tr>
            <input class="form-control" type="hidden" name="_id" id="_id" #_id="ngModel" [(ngModel)]="vitacorService.selectvitacor._id"/>
            <th scope="col">Id Task:
              <input type="text" name="idTasks" placeholder="idTasks" #idTasks="ngModel" [(ngModel)]="vitacorService.selectvitacor.idTasks"/>
            </th>
          </tr>
          <tr>
            <th scope="col">Init Date:
              <input type="text" name="initDate" placeholder="Init date" #initDate="ngModel" [(ngModel)]="vitacorService.selectvitacor.initDate"/>
            </th>
            <th scope="col">Finish Date:
              <input type="text" name="finishDate" placeholder="Finish date" #finishDate="ngModel" [(ngModel)]="vitacorService.selectvitacor.finishDate"/>
            </th>
          </tr>
          <tr>
            <th scope="col">Notes:
              <input type="text" name="note" placeholder="Notes" #note="ngModel" [(ngModel)]="vitacorService.selectvitacor.note"/>
            </th>
            <th scope="col">Lid:
              <input type="text" name="lid" placeholder="Lid" #lid="ngModel" [(ngModel)]="vitacorService.selectvitacor.lid"/>
            </th>
          </tr>
          <tr>
            <th></th>
            <th scope="col">
              <input type="button" value="Send" (click)="createVita(vitaform)"/>
            </th>
          </tr>
        </table>
      </form>
      <table class="table table-sm table-light" id="formtable">
        <thead></thead>
        <tr>
          <th scope="col">Tarea</th>
          <th scope="col">Status</th>
          <th scope="col">Finish date</th>
          <th scope="col">Tasks</th>
          <th scope="col">Pending task</th>
          <th scope="col">Notes</th>
          <th scope="col">Lid</th>
          <th scope="col">Actions</th>
        </tr>
        <tbody></tbody>
        <tr *ngFor="let vita of vitacorService.vita index as i">
          <th scope="row">{{vita.idTasks}}</th>
          <td>{{vita.initDate}}</td>
          <td>{{vita.finishDate}}</td>
          <td>{{vita.taskCant}}</td>
          <td>{{vita.taskFinished}}  <a (click)="getTaskCount(vita.idTasks,i)"><i class="glyphicon glyphicon-pencil"></i></a></td>
          <td>{{vita.note}}</td>
          <td>{{vita.lid}}</td>
          <td><a (click)="editVita(vita)"><i class="glyphicon glyphicon-pencil"></i></a><a (click)="deleteVita(vita._id)"><i class="glyphicon glyphicon-trash"> </i></a></td>
        </tr>
      </table>
    </div>
    <div class="col-sm-4 text-left"> 
      <form #taskform="ngForm" appnoautocomplete="" autocomplete="off" (keydown.enter)="$event.preventDefault()">
        <table class="table table-sm table-light" id="tbltask">
          <tbody></tbody>
          <tr id="formtr">
            <input class="form-control" type="hidden" name="_id" id="_id" #_id="ngModel" [(ngModel)]="taskService.selecttask._id"/>
            <input class="form-control" type="hidden" name="idTasks" id="idTasks" value="1" #idTasks="ngModel" [(ngModel)]="taskService.selecttask.idTasks"/>
            <td>
              <input type="text" name="task" placeholder="Task" #tasks="ngModel" [(ngModel)]="taskService.selecttask.task"/>
            </td>
            <td>   
              <input class="form-control" type="hidden" name="status" id="status" value="pendding" #status="ngModel" [(ngModel)]="taskService.selecttask.status"/>
            </td>
            <td>
              <input type="button" name="send" placeholder="Send" value="Send" (click)="createTask(taskform)"/>
            </td>
          </tr>
        </table>
      </form>
      <table class="table table-sm table-light" id="tbltask">
        <thead></thead>
        <tr>
          <th scope="col">Tarea</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
        <tbody></tbody>
        <tr *ngFor="let task of taskService.task">
          <td>{{task.task}}</td>
          <td> 
            <div class="flipswitch" [ngClass]="task.status">{{task.status}} .<a (click)="editTask(task)"><i class="glyphicon glyphicon-edit" (click)="changeTaskStatus(task,task.status)"> </i></a></div>
          </td>
          <td><a (click)="editTask(task)"><i class="glyphicon glyphicon-pencil"></i></a><a (click)="deleteTask(task._id)"><i class="glyphicon glyphicon-trash"> </i></a></td>
        </tr>
      </table>
    </div>
  </div>
</div>