@mixin center()
    margin-left: auto;
    margin-right: auto;
#formtable
    width: 70% !important;
    input
        width: auto;
        float: right;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 1px;
        border-style: solid;
table
    +center()
    width: 90%;
    align-content: center;

.pending
    color: #FFC107;
.finish
    color: #28A745;