
<div class="container-fluid text-center">   
  <div class="row content">
    <div class="col-sm-6 sidenav">
      <form #vitaform="ngForm" appnoautocomplete="" autocomplete="off" (keydown.enter)="$event.preventDefault()">  
        <div class="card">
          <div class="card-body">
            <h2 class="card-title" id="editTitle">Create Day</h2>
            <div class="card-text">
              <div class="row content">
                <input class="form-control" type="hidden" name="_id" id="_id" #_id="ngModel" [(ngModel)]="vitacorService.selectvitacor._id"/>
                <div id="labelMaterial"> 
                  <div class="group">
                    <input class="imp" type="text" required="required" name="idTasks" #idTasks="ngModel" [(ngModel)]="vitacorService.selectvitacor.idTasks"/>
                    <label class="lbl">Id Tasks  </label>
                  </div>
                </div>
                <div id="labelMaterial"> 
                  <div class="group">
                    <input class="imp" type="text" required="required" name="lid" #lid="ngModel" [(ngModel)]="vitacorService.selectvitacor.lid"/>
                    <label class="lbl">Lid </label>
                  </div>
                </div>
                <div id="labelMaterial"> 
                  <div class="group">
                    <input class="imp" type="date" required="required" name="initDate" #initDate="ngModel" [(ngModel)]="vitacorService.selectvitacor.initDate"/>
                    <label class="lbldate">Init date</label>
                  </div>
                </div>
                <div id="labelMaterial"> 
                  <div class="group">
                    <input class="imp" type="date" required="required" name="finishDate" #finishDate="ngModel" [(ngModel)]="vitacorService.selectvitacor.finishDate"/>
                    <label class="lbldate">Finish date</label>
                  </div>
                </div>
                <div id="labelMaterial"> 
                  <div class="group">
                    <input class="imp" type="text" required="required" name="note" #note="ngModel" [(ngModel)]="vitacorService.selectvitacor.note"/>
                    <label class="lbl">Notes</label>
                  </div>
                </div>
                <div id="labelMaterial"> 
                  <input type="button" id="button" value="Clear" (click)="resetForm(vitaform)"/>
                  <input type="button" id="button" value="Send" (click)="createVita(vitaform)"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="card" id="cardData"><a (click)="listViewer()"><i class="glyphicon glyphicon-list btnlist" *ngIf="!viewList"></i><i class="glyphicon glyphicon-th-large btnlist" *ngIf="viewList"></i></a>
        <div class="card-body" *ngIf="!viewList">
          <div class="card-columns"></div>
          <div class="container-fluid text-center">   
            <div class="row content">
              <div class="card 50" *ngFor="let vita of vitacorService.vita index as i">
                <h4 class="card-title">{{vita.initDate}} -> {{vita.finishDate}}</h4>
                <div class="card-body">
                  <p class="card-text">   
                    <label scope="col">{{vita.taskCant}} Tasks. {{vita.taskFinished}} Pending  </label>
                  </p>
                  <p class="card-text"> 
                    <label scope="col">Lid : {{vita.lid}}</label>
                  </p>
                  <p class="card-text"> 
                    <label scope="col">Note: {{vita.note}}</label>
                    <label>Id: {{vita.idTasks}}<a (click)="deleteVita(vita._id)"><i class="glyphicon glyphicon-trash"> </i></a><a (click)="getTaskCount(vita.idTasks,i);editVita(vita)"><i class="glyphicon glyphicon-edit"> </i></a></label>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body" *ngIf="viewList">
          <table class="table table-condensed ">
            <tbody *ngFor="let vita of vitacorService.vita index as i">
              <tr>
                <td> 
                  <label>{{vita.initDate}} -> {{vita.finishDate}}</label>
                </td>
                <td> 
                  <label>{{vita.taskCant}} Tasks. {{vita.taskFinished}} Pending </label>
                </td>
                <td><a (click)="getTaskCount(vita.idTasks,i);editVita(vita)"><i class="glyphicon glyphicon-edit"></i></a><a (click)="deleteVita(vita._id)"><i class="glyphicon glyphicon-trash">                                                                     </i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-6 text-left"> 
      <form #taskform="ngForm" appnoautocomplete="" autocomplete="off" (keydown.enter)="$event.preventDefault()">
        <table class="table table-sm " id="tbltask">
          <tbody></tbody>
          <tr id="formtr">
            <input class="form-control" type="hidden" name="_id" id="_id" #_id="ngModel" [(ngModel)]="taskService.selecttask._id"/>
            <input class="form-control" type="hidden" name="idTasks" id="idTasks" value="1" #idTasks="ngModel" [(ngModel)]="taskService.selecttask.idTasks"/>
            <td>
              <div id="labelMaterial">
                <div class="group"> 
                  <input class="imp" type="text" required="required" name="task" #tasks="ngModel" [(ngModel)]="taskService.selecttask.task"/>
                  <label class="lbl">Email</label>
                </div>
              </div>
            </td>
            <td>   
              <input class="form-control" type="hidden" name="status" id="status" value="pendding" #status="ngModel" [(ngModel)]="taskService.selecttask.status"/>
            </td>
            <td>
              <input type="button" id="button" name="send" placeholder="Send" value="Send" (click)="createTask(taskform)"/>
            </td>
          </tr>
        </table>
      </form>
      <table class="table table-sm " id="tbltask">
        <thead></thead>
        <tr>
          <th scope="col">Task</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </table>
      <div class="taskdiv">
        <table class="table table-sm " id="tbltask">     
          <tbody></tbody>
          <tr *ngFor="let task of taskService.task">
            <td>{{task.task}}</td>
            <td> 
              <div class="flipswitch" [ngClass]="task.status">{{task.status}} .<a (click)="editTask(task)"><i class="glyphicon glyphicon-off" (click)="changeTaskStatus(task,task.status)"> </i></a></div>
            </td>
            <td><a (click)="editTask(task)"><i class="glyphicon glyphicon-pencil"></i></a><a (click)="deleteTask(task._id)"><i class="glyphicon glyphicon-trash"> </i></a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>